<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCe9fLwf9UWCE63ms2Q4EPHekWQH_AXupk</string>
	<key>GCM_SENDER_ID</key>
	<string>737388060859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loyapy.loyapy</string>
	<key>PROJECT_ID</key>
	<string>loyapy-6078a</string>
	<key>STORAGE_BUCKET</key>
	<string>loyapy-6078a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737388060859:ios:465246cf1182e3e549099e</string>
</dict>
</plist>